nav {
    top: 0;
    left: 0;
    padding: 1vw;
    width: 100%;
    background-color: #003B77;
    display: inline-flex;
}
nav > img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
    height: 5vw;
    aspect-ratio: 617 / 432;
}
nav > h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3vw;
    margin-left: 2vw;
    color: white;
}