nav {
    top: 0;
    left: 0;
    padding: 1vw;
    width: 100%;
    background-color: #19647E;
    display: inline-flex;
}
nav > img {
    margin-left: 1vw;
    width: 5vw;
}
nav > h1 {
    font-size: 2vw;
    margin-left: 2vw;
    color: #D6D6DD;
}